.home-section {
    position: relative;
    padding: 600px 20px 60px;
    max-width: 1200px;
    margin: 0 auto;
  
    &::before {
      content: "";
      position: absolute;
      top: 450px;
      left: 50%;
      transform: translateX(-50%);
      width: 1500px; // độ dài dấu gạch ngang
      height:4px; // độ dày
      background: linear-gradient(90deg, #4b4a55, #1b0aff); // gradient đẹp mắt
      border-radius: 4px;
    }
  }
  
  .home-row {
    display: flex;
    align-items: center;
    justify-content: center; // căn giữa các phần tử trong row
    margin-bottom: 60px;
    gap: 40px;
  
    &.reverse {
      flex-direction: row-reverse;
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
  
      &.reverse {
        flex-direction: column;
      }
    }
  }
  
  .home-image {
    flex: 1;
    img {
      width: 100%;
      height: auto;
      border-radius: 20px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
  }
  
  .home-text {
    flex: 1;
    h2 {
      font-size: 28px;
      margin-bottom: 16px;
      color: #333;
    }
  
    p {
      font-size: 18px;
      line-height: 1.6;
      color: #555;
    }
  
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  